<h1>Edit Your Tasks`</h1>
<form action ="/create" method = "post">
<input type = "hidden" name="authenticity_token" value=<%= form_authenticity_token%>>
<input type = "text" name="todo_models[task]" placeholder="Task">
<input type="text" name="todo_models[description]" placeholder="Description">
<input type="text" name="todo_models[status]" placeholder="Status">
<input type="date" name="todo_models[date]">
<button>Update</button> 
</form>

